* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
  
}
*:not(i) {
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #253031;
  
}
.wrapper {
  width: 450px;
}
.wrapper .content{
  background-color: #C6E0FF;
  padding: 20px 20px 50px 20px;
  border-radius: 10px;
    box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
}
.content h2{
  text-align: center;
  font-size: 30px;
  color:#2978A0;
  border-bottom: 1px solid #2978A0;
  margin-bottom: 10px;
}
.content .form .input {
  display: flex;
  flex-direction: column;
}
.form .input input{
  padding: 10px;
  border: none;
  outline: none;
  font-size: 17px;
  border-radius: 4px;
  margin-bottom: 10px;
}
.form .input button{
  width: 20%;
  height: 30px;
  font-size: 14px;
  align-self: center;
  background-color: #2978A0;
  color: whitesmoke;
  opacity: 75%;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 400ms ease;
}
.form .input button:hover{
  background: #1a678d;
  opacity: 100%;
}
.data{
  position: flex;
}
.data h3{
  color: #2978A0;
  font-size: 30px;
}
.data .meaning{
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.data .details{
  color: grey;
  margin: 5px 0 20px 0;
  font-size: 20px;
}